In [3]:
import numpy as np
import pandas as pd
from sklearn import svm
from matplotlib import pyplot , style
style.use('ggplot')

In [4]:
df = pd.read_csv('res1.csv')

In [6]:
df.head()

,Date,UNIX,Ticker,Profit Margin (ttm),Total Debt/Equity (mrq),Price/Book (mrq),Return on Assets (ttm),SNPDate,SNPValue,StockPrice,Absolute_SNP500_Perfomance,YtY_Stock_Price_Value_Change,YtY_SNP500_Value_Change,Absolute_Stock_Perfomance,Absolute_Stock_Perfomance_Flag,YtY_Stock_Perfomance,YtY_Stock_Perfomance_Flag
0,2004-01-30 19:01:02,1.075511e+09,a,-0.2956,0.407,6.01,-0.2495,2004-01-30,1131.130005,25.147392,0.000000,0.000000,0.000000,0.000000,0,0.000000,0
1,2004-04-13 04:07:11,1.081847e+09,a,-0.2556,0.375,4.98,-0.2359,2004-04-13,1129.439941,21.156284,-0.149414,-15.870863,-0.149414,-15.721449,0,-15.721449,0
2,2004-12-13 21:37:34,1.102995e+09,a,0.0486,0.323,3.24,0.0526,2004-12-13,1198.680054,16.264618,5.971909,-23.121574,6.130482,-41.294752,0,-29.252056,0
3,2005-01-22 05:17:19,1.106393e+09,a,0.0486,0.322,3.04,0.0526,2005-01-19,1184.630005,15.050230,4.729783,-7.466443,-1.172127,-44.881710,0,-6.294316,0
4,2006-01-09 02:35:16,1.136796e+09,a,0.0638,0.000,4.26,0.0168,2006-01-09,1290.150024,23.571416,14.058509,56.618314,8.907424,-20.325466,0,47.710890,1

In [8]:
df.drop(['Date','SNPDate'],1,inplace=True)